.App {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  width: 190px;
  height: 254px;
  position: relative;
  background: #fbdcc4;
  color: #252525;
  border-radius: 4px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card-info {
  /* position: relative; */
  /* margin-top: 2px; */
  height: 100%;
  bottom: 1em;
  width: 100%;
  text-align: center;
  background-color: #fbdcc4;
}

/* Image */
.card-img {
  background: #322c24;
  background: linear-gradient(to top, #31112c, #f2a07b);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
/* Texts */
.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  letter-spacing: 1px;
  font-size: 0.7em;
}

/* Hovers */
.card:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .card-img {
  transform: translateY(-20em);
}

.back {
  background-color: rgba(125, 6, 51, 0.8);
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
